In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import plotly.express as px

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_absolute_error
# from sklearn.preprocessing import StandardScaler
# from sklearn.decomposition import PCA
# from sklearn.feature_selection import RFE
# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from sklearn.svm import SVR
# from sklearn.model_selection import cross_val_score
# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import mean_absolute_error, r2_score
# from sklearn.model_selection import GridSearchCV

In [3]:
df = pd.read_csv("tweets-engagement-metrics.csv")

In [4]:
df.shape

(102062, 20)

In [5]:
df.columns

Index(['Unnamed: 0', 'UserID', 'Gender', 'LocationID', 'City', 'State',
       'StateCode', 'Country', 'TweetID', 'Hour', 'Day', 'Weekday',
       'IsReshare', 'Reach', 'RetweetCount', 'Likes', 'Klout', 'Sentiment',
       'Lang', 'text'],
      dtype='object')

Data Cleaning

In [6]:
# Removing the Unnamed: 0 column from the data frame
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [7]:
df.head()

,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102062 entries, 0 to 102061
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   UserID        102062 non-null  object
 1   Gender        102062 non-null  object
 2   LocationID    102062 non-null  float64
 3   City          99783 non-null   object
 4   State         100165 non-null  object
 5   StateCode     100336 non-null  object
 6   Country       102062 non-null  object
 7   TweetID       102062 non-null  object
 8   Hour          102062 non-null  int64
 9   Day           102062 non-null  int64
 10  Weekday       102062 non-null  object
 11  IsReshare     102062 non-null  bool
 12  Reach         102062 non-null  float64
 13  RetweetCount  102062 non-null  float64
 14  Likes         102062 non-null  float64
 15  Klout         102062 non-null  float64
 16  Sentiment     102062 non-null  float64
 17  Lang          102062 non-null  object
 18  text          102062 non-null  object
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 14.1+ MB

In [9]:
df.isnull().sum()

UserID             0
Gender             0
LocationID         0
City            2279
State           1897
StateCode       1726
Country            0
TweetID            0
Hour               0
Day                0
Weekday            0
IsReshare          0
Reach              0
RetweetCount       0
Likes              0
Klout              0
Sentiment          0
Lang               0
text               0
dtype: int64

**Data Analysis of Twitter/X Engagement**